<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gemoc.executionframework.event.implementationrelationship">
      <implementation_relationship
            class="org.gemoc.arduino.sequential.xarduino.relationships.EPLArduinoImplementationRelationship"
            id="org.gemoc.arduino.sequential.xarduino.relationships.implementation_relationship"
            name="ArduinoImplementationRelationship">
      </implementation_relationship>
   </extension>
   <extension
         point="org.eclipse.gemoc.executionframework.event.subtypingrelationship">
      <subtyping_relationship
            class="org.gemoc.arduino.sequential.xarduino.relationships.EPLArduinoSubtypingRelationship"
            id="org.gemoc.arduino.sequential.xarduino.relationships.subtyping_relationship"
            name="ArduinoSubtypingRelationship">
      </subtyping_relationship>
   </extension>

</plugin>
