<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.etsi.mts.tdl.graphical.viewpoint.Activator"
               id="org.etsi.mts.tdl.graphical.viewpoint"
	       name="TDL">
    </component>
  </extension>
   <!--extension
         point="org.eclipse.sirius.viewpointSpecificationModel">
      <definition
            path="description/TDL.odesign">
      </definition>
   </extension-->
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.etsi.mts.tdl.graphical.sirius.TdlEditPartProvider">
         <Priority
               name="High">
         </Priority>
      </editpartProvider>
      <editpartProvider
            class="org.etsi.mts.tdl.graphical.sirius.TdlSequenceEditPartProvider">
         <Priority
               name="Highest">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.dynamic_package">
      <resource
            location="extension.ecore"
            uri="http://www.etsi.org/spec/TDL/1.2.1/viewer">
      </resource>
   </extension>
   <extension
         point="org.eclipse.sirius.diagram.ui.layoutProvider">
      <layoutProvider
            priority="highest"
            providerClass="org.etsi.mts.tdl.graphical.sirius.layout.SequenceDiagramFreeformLayoutProvider">
      </layoutProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="org.etsi.mts.tdl.graphical.sirius.figure.InteractionDecoratorProvider">
         <Priority
               name="Lowest">
         </Priority>
      </decoratorProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="org.etsi.mts.tdl.graphical.sirius.layout.LayoutEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
         <context
               editparts="SIRIUS_EDIT_PART">
         </context>
         <object
               class="org.eclipse.sirius.diagram.ui.edit.api.part.ISiriusEditPart(org.eclipse.sirius.diagram.ui)"
               id="SIRIUS_EDIT_PART">
         </object>
      </editpolicyProvider>
   </extension>
   <extension
         point="org.eclipse.sirius.refreshExtensionProvider">
      <refreshExtensionProvider
            priority="lowest"
            providerClass="org.etsi.mts.tdl.graphical.sirius.layout.RefreshExtensionProvider">
      </refreshExtensionProvider>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.etsi.mts.tdl.graphical.sirius.actions.CreateAction"
            id="org.etsi.mts.tdl.graphical.viewpoint.createAction">
      </javaActions>
      <javaActions
            actionClass="org.etsi.mts.tdl.graphical.sirius.actions.ParseAction"
            id="org.etsi.mts.tdl.graphical.viewpoint.parseAction">
      </javaActions>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.etsi.mts.tdl.graphical.viewpoint.wizards"
            name="TDL">
      </category>
      <wizard
            category="org.etsi.mts.tdl.graphical.viewpoint.wizards"
            class="org.etsi.mts.tdl.graphical.project.ProjectWizard"
            hasPages="true"
            id="org.etsi.mts.tdl.graphical.viewpoint.projectWizard"
            name="TDL Project"
            project="true">
      </wizard>
   </extension>


</plugin>
