<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XMiniJava -->
      <package
            uri="http://org.imt.minijava.xminijava/xminiJava/"
            class="org.imt.minijava.xminiJava.XminiJavaPackage"
            genModel="model/XMiniJava.genmodel"/>
   </extension>

</plugin>
