<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.imt.tdl.coverage.extensionpoint.DSLSpecificCoverage">
      <client
            class="org.imt.arduino.reactive.coverage.ArduinoCoverageComputation"
            id="org.imt.arduino.reactive.coverage.ArduinoCoverageComputation">
      </client>
   </extension>

</plugin>
