<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point 
   		id="org.imt.tdl.coverage.extensionpoint.DSLSpecificCoverage" 
   		name="DSLSpecificCoverage" 
   		schema="schema/org.imt.tdl.coverage.extensionpoint.DSLSpecificCoverage.exsd"/>
	<extension
         point="org.eclipse.ui.views">  
      <category
            id="tdl.views"
            name="TDL">
      </category>    
      <view
            category="tdl.views"
            class="org.imt.tdl.coverage.ui.TDLCoverageView"
            icon="icons/coverage.png"
            id="org.imt.tdl.rt.ui.coverageView"
            name="Coverage"
            restorable="true">
      </view>
   </extension>
 <extension
       point="org.eclipse.gemoc.gemoc_language_workbench.engine_addon">
    <addon
          class="org.imt.tdl.coverage.persistence.TestCoveragePersistence"
          id="org.imt.tdl.coverage.reportAddon"
          name="TDL Test Coverage"
          shortDescription="Save the result of TDL test coverage">
    </addon>
 </extension>
</plugin>
