<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated BPMN -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.imt.bpmn.presentation.bpmnModelWizardID"
            name="%_UI_bpmnModelWizard_label"
            class="org.imt.bpmn.presentation.bpmnModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/bpmnModelFile.gif">
         <description>%_UI_bpmnModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated BPMN -->
      <editor
            id="org.imt.bpmn.presentation.bpmnEditorID"
            name="%_UI_bpmnEditor_label"
            icon="icons/full/obj16/bpmnModelFile.gif"
            extensions="bpmn"
            class="org.imt.bpmn.presentation.bpmnEditor"
            contributorClass="org.imt.bpmn.presentation.bpmnActionBarContributor">
      </editor>
   </extension>

</plugin>
