<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TDLTestReport -->
      <package
            uri="https://org.imt.tdl.testResult/TDLTestReport"
            class="org.imt.tdl.TDLTestReport.TDLTestReportPackage"
            genModel="model/TDLTestReport.genmodel"/>
   </extension>

</plugin>
