<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.gemoc.arduino.sequential.xarduino.design.Activator"
               id="org.gemoc.arduino.sequential.xarduino.design"
	       name="xarduino">
    </component>
  </extension>
</plugin>
