<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.imt.tdl.coverage.extensionpoint.DSLSpecificCoverage">
      <client
            DSLSpecificCoverage="org.imt.pssm.reactive.coverage.PSSMCoverageComputation"
            class="org.imt.pssm.reactive.coverage.PSSMCoverageComputation"
            id="org.imt.pssm.reactive.coverage.PSSMCoverageComputation">
      </client>
   </extension>

</plugin>
